/* main bar */
.nav-head-1{
  background: #9faa4d;
  padding: 40px 80px;
  overflow: hidden;
  position: relative;
}
 
/* track */
.nav-head-3{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:90px;
  transition: transform 0.6s ease;
}
 


